<html lang="en">
    
    <head>
      
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Holliant's Banano Lotto</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="https://media.discordapp.net/attachments/754793559038886029/933405413943148614/Untitled.png">

    </head>

    <body>

        <h1>Holliant's Banano Lotto</h1>

        <p>
            <code>banano-holliant-live</code> is a community-ran lotto for Banano with 0 fees or % taken by
            the devs.
        <br>
            You can be assured that all the BAN in the jackpot is going straight to the winning address!
        </p>

        <iframe data-aa="1901563" src="//ad.a-ads.com/1901563?size=160x600&background_color=3a3a3a&text_color=eeee0b&title_color=ffff34&title_hover_color=e3e31d&link_color=eeee0b&link_hover_color=c7c70d" style="width:160px; height:600px; border:0px; padding:0; overflow:hidden; background-color: transparent; float: left;"></iframe>
        <iframe data-aa="1901572" src="//ad.a-ads.com/1901572?size=160x600&background_color=3a3a3a&text_color=eeee0b&title_color=ffff34&title_hover_color=e3e31d&link_color=eeee0b&link_hover_color=c7c70d" style="width:160px; height:600px; border:0px; padding:0; overflow:hidden; background-color: transparent; float: right;"></iframe>        

        <h2>Lottery information</h2>
        
        <div class="row">
            <div class="column">
                <p>Current jackpot:</p>
                <div class="countBox">
                    <p id="banCount">--.--</p>
                </div>
            </div>
            <div class="column">
                <p>Time remaining:</p>
                <div class="countBox">
                    <p id="timer">--.--</p>
                </div>
            </div>
        </div>
      
        <h2>How to play</h2>

        <p>
            To buy 1 ticket, send <%= (ticketPrice / 1e29).toFixed(2) %> BAN to the address below:
            <br><code><%= lottoAddress %></code>
        </p>

        <img class="qr" src="/media/jackpot-qr.png">

        <p>
            To increase your chance of winning, you can purchase multiple tickets by sending more BAN to the
            lotto address!<br>The more tickets you have, the greater your chance of winning!
        </p>
        <p>
            <b>Warning: if the amount of BAN sent is not a multiple of the ticket price, any extra BAN will
            be counted as a donation towards the jackpot.</b>
        </p>

        <% if (previousWinner["address"]) { %>
            
            <h2>Previous winner</h2>
    
            <p>
                <%= previousWinner["address"] %> - <%= (previousWinner["jackpot"] / 1e29).toFixed(2) %> BAN
                <br>
                <a class="prevWinner" href="https://creeper.banano.cc/explorer/block/<%= previousWinner["hash"] %>" target="_blank">
                    <%= previousWinner["hash"] %>
                </a>
            </p>

        <% } %>

        <br>

        <p><i>For further assistance or to report a problem/bug, DM me via discord @Holliant#6969</i></p>
   
        <br>

        <div class="footerSocial">
            <a href="https://github.com/Holliant/banano-holliant-live" target="_blank">
                <img src="/media/github.png" alt="Check out our GitHub repo!">
            </a>
        </div>

        <script src="/js/moment.js"></script>

        <script>

            let jackpotAmount = <%= jackpotAmount %>;
            console.log(BigInt(jackpotAmount).toString());
            let lottoEnd = moment().endOf("day");

            function formatSeconds(ms) {
                function pad(n) {
                    return (n < 10 ? "0" + n : n);
                }
                return `${pad(moment.duration(ms).days())}:${pad(moment.duration(ms).hours())}:${pad(moment.duration(ms).minutes())}:${pad(moment.duration(ms).seconds())}`
            }

            setInterval(() => {
                document.getElementById("banCount").innerHTML = (jackpotAmount / 1e29).toFixed(2) + " BAN";
                document.getElementById("timer").innerHTML = formatSeconds(lottoEnd - Date.now());
                if (lottoEnd - Date.now() < 0) {
                    location.reload();
                };
            }, 1000);

        </script>

    </body>
    
</html>